table {
    border-collapse: collapse;
    text-align: center;
    min-width:60%;
    padding: 20px;
    margin: 50px auto;
}

th {
    border: 1px solid black;
    padding: 15px;
}

td {
    border: 1px solid black;
    padding: 15px;
}

@media screen and (max-width: 800px){
    table {
        min-width: 300px;
        margin: 0px auto;
        padding: 0px;
    }
    thead  {
        display: none;
    }
    table tr {
        display: block;
        padding: 20px;
    }
    table td:before {
        content: attr(data-label);   /*Важно!*/
        float: left;
    }
    table td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        display: block;
        text-align: right;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    table {
        width: 250px;
        min-width: 250px;
    }

    table tr {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
}